# Instructions: Rename this file to .env and fill in your values

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-change-me-to-anything-you-want

# Email Configuration (Required for Price Alerts)
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Online Database
DATABASE_URL=your-external-db-url